@{
    ViewData["Title"] = "Welcome to Our Website";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-8">Welcome To USAL</h1>
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card border border-success p-3 shadow-lg shadow-success h-100 d-flex flex-column">
                        <div class="card-body">
                            <h5 class="card-title text-dark">FACULTY OF ARTS & SCIENCES</h5>
                            <hr>
                            <p class="card-text text-success">
                                The Faculty of Computer Science and Media equips students with the skills to navigate the digital world by offering comprehensive programs in computer science, media studies, and technology. 
                                Students explore cutting-edge technologies, develop software solutions, and gain insights into media production.
                            </p>
                            <div class="mt-auto">
                                <a href="#" class="btn btn-sm btn-outline-dark align-self-end">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card border border-success p-3 shadow-lg shadow-success h-100 d-flex flex-column">
                        <div class="card-body">
                            <h5 class="card-title text-dark">FACULTY OF MANAGEMENT</h5>
                            <hr>
                            <p class="card-text text-success">
                                The Faculty of Business empowers aspiring business leaders with a solid foundation in business principles and practices.
                                Through a blend of theoretical knowledge and practical exposure, students learn essential skills in entrepreneurship, management, finance, and marketing.
                                The faculty fosters a culture of innovation and critical thinking.
                                <div class="mt-auto">
                                    <a href="#" class="btn btn-sm btn-outline-dark align-self-end">Learn More</a>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card border border-success p-3 shadow-lg shadow-success h-100 d-flex flex-column">
                        <div class="card-body">
                            <h5 class="card-title text-dark">FACULTY OF EDUCATION </h5>
                            <hr>
                            <p class="card-text text-success">
                                The Faculty of Education focuses on shaping future educators and professionals in the field of education.
                                Through innovative teaching methods and practical experiences, students gain a deep understanding of pedagogy, curriculum development, and educational psychology, preparing them to make a positive impact in classrooms.
                            </p>
                            <div class="mt-9">
                                <a href="#" class="btn btn-sm btn-outline-dark">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a asp-action="Create" asp-controller="Application" class="btn btn-outline-success btn-sm mt-3">Apply Now</a>
            </div>
        </div>
    </div>
</div>
